body {
    height: 100vh; /* Set body height to full viewport height */
    margin: 0; /* Remove default margin */
}

.main {
    display: flex;
    flex-direction: column;
    flex:1;
}

.year-navigation {
    justify-content: right;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.year-navigation button {
    margin: 0 10px;
}

.month-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.month-box-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.month-box {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.arrow-button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}